<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Contact Us</h2>
        <div id="iconContainer">
            <a target="_blank" href="mailto:scorchedprovo@example.com"><i class="bi bi-envelope contactIcon" class="icons"></i></a>
            <a target="_blank" href="https://www.instagram.com/scorchedprovo/"><i class="bi bi-instagram contactIcon" class="icons"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@scorchedprovo"><i class="bi bi-tiktok contactIcon" class="icons"></i></a>
        </div>
        <div class="container px-3 px-lg-4"><div class="small text-center text-muted" id="copyright">Copyright &copy; 2024 - Scorched</div></div>
    </div>
</section>

